#finderBtn {
    border: 2px solid;
    border-color: red;
    background-color: greenyellow !important;
    position: absolute;
    bottom: 35%;
    left: 38%;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: url('earth.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}